<!DOCTYPE html>

<h1><% if flash.has?(:message) %>
 <%= flash[:message] %>
<% end %></h1>

<br>

<h1> My List </h1>

<hr>

<div class="list-box">
  <table style="width:30%" class="table table-striped">
  <% Item.all.each do |item| %>
      <tr>
        <td><h3><a href="/items/<%=item.id%>"><%= item.item %></a></h3>
      </td>

        <td><h3><button><a href="/items/<%=item.id%>/edit"> Edit </a></button><h3>
      </td>

        <td>
          <form action="/items/<%= item.id %>/delete" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
        <h3><input type="submit" value="Delete" name="delete"></h3>
          </form>
      </td>
    <%end%>
  </table>
</div>

<h4><button><a href="/new">New Item</a></button></h4><br>
<h4><button><a href="/logout">Log Out</a></button></h4>
